:root {
    /* COLORS */
    --icon-color: #72767b;
    --icon-color: #4d5258;
    --light-gray: #f3f3f3;
    --text: #4d5258;
    --light-text: #72767b;
    --custom-blue: #1e90ff;
    /* BORDER VARIABLES */
    --border-radius: 8px;
    --border-light-color: #d6d6d6;
    /* TRANSITIONS */
    --short-transition: .3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
}


/* MAIN CONTENT WRAPPER STYLES  */

.main-wrapper {
    width: 100vw;
    height: 100vh;
}


/* DASHBOARD HEADER STYLES  */

header {
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 1px solid var(--border-light-color);
}

header .logo-con {
    width: 250px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    font-size: 30px;
}

header .header-sub {
    width: calc(100% - 250px);
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    padding: 1rem;
    position: relative;
}

header .header-sub-2 {
    display: flex;
}


/* SEARCH CONTAINER STYLES */

.search {
    width: 500px;
    background-color: #fff;
    height: auto;
    top: 10px;
    position: absolute;
    border-radius: var(--border-radius);
    transition-duration: var(--short-transition);
}

.search.expand {
    width: 550px;
    top: 5px;
    padding: 0.5em;
    box-shadow: 0px 2px 5px 1px #8888883a;
    transition-duration: var(--short-transition);
}

.search form.search-form {
    width: 100%;
    height: 40px;
    display: flex;
    background-color: var(--light-gray);
    border-radius: var(--border-radius);
    transition-duration: var(--short-transition);
}

.search.expand form.search-form {
    height: 50px;
    background-color: #fff;
    border: 1px solid var(--border-light-color);
    transition-duration: var(--short-transition);
}

.search form.search-form .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: var(--icon-color);
    transition-duration: var(--short-transition);
}

.search.expand form.search-form .icon {
    height: 50px;
    width: 50px;
    color: var(--custom-blue);
    transition-duration: var(--short-transition);
}

.search form.search-form input[type="search"] {
    width: calc(100% - 40px);
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0 1rem;
    font-size: 18px;
    color: var(--text);
    transition-duration: var(--short-transition);
}

.search .search-results {
    width: 100%;
    height: fit-content;
}

header .header-sub-2 {
    position: absolute;
    right: 1rem;
}

header .header-sub-2 .user-dropdown {
    display: flex;
}


/* MAIN DASHBOARD CONTENT STYLES */

.sub-content-wrapper {
    display: flex;
    height: calc(100vh - 60px);
    width: 100%;
}

.sub-content-wrapper .side-nav {
    width: 250px;
    height: inherit;
    background-color: brown;
}

.sub-content-wrapper .main-dashboard-content {
    width: calc(100% - 250px);
    height: inherit;
    /* background-color: pink; */
}

nav.dashboard-sub-nav {
    width: 100%;
    height: 60px;
    /* background-color: gray; */
}